@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="./AddNew">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ISBN
            </th>
            <th>
                Author
            </th>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Publisher
            </th>
            <th>
                Genre
            </th>
            <th>
                Pages
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>

    <tr>
        <td>ABC123</td>
        <td>J. K. Rowling</td>
        <td>Harry Potter and the Philosopher's Stone</td>
        <td>1997</td>
        <td>Bloomsbury</td>
        <td>Fantasy</td>
        <td>246</td>
        <td>See in "Details"</td>
        <td>
            <a asp-page="./Edit">Edit</a> |
            <a asp-page="./Details">Details</a> |
            <a asp-page="./Delete">Delete</a>
        </td>
    </tr>

    <tr>
        <td>ABC000</td>
        <td>George Orwell</td>
        <td>1984</td>
        <td>1949</td>
        <td>Secker & Warburg</td>
        <td>Dystopian, political fiction</td>
        <td>328</td>
        <td>See in "Details"</td>
        <td>
            <a asp-page="./Edit">Edit</a> |
            <a asp-page="./Details">Details</a> |
            <a asp-page="./Delete">Delete</a>
        </td>
    </tr>

    <tr>
        <td>CCC010</td>
        <td>William Shakespeare</td>
        <td>Hamlet</td>
        <td>2005</td>
        <td>Cambridge University Press</td>
        <td>Shakespearean tragedy</td>
        <td>500</td>
        <td>See in "Details"</td>
        <td>
            <a asp-page="./Edit">Edit</a> |
            <a asp-page="./Details">Details</a> |
            <a asp-page="./Delete">Delete</a>
        </td>
    </tr>

    <tr>
        <td>BBB100</td>
        <td>George Orwell</td>
        <td>Animal Farm</td>
        <td>1945</td>
        <td>Secker & Warburg</td>
        <td>Political satire</td>
        <td>112</td>
        <td>See in "Details"</td>
        <td>
            <a asp-page="./Edit">Edit</a> |
            <a asp-page="./Details">Details</a> |
            <a asp-page="./Delete">Delete</a>
        </td>
    </tr>

    <tr>
        <td>AAA111</td>
        <td>J. K. Rowling</td>
        <td>Harry Potter and the Chamber of Secrets</td>
        <td>1998</td>
        <td>Bloomsbury</td>
        <td>Fantasy</td>
        <td>270</td>
        <td>See in "Details"</td>
        <td>
            <a asp-page="./Edit">Edit</a> |
            <a asp-page="./Details">Details</a> |
            <a asp-page="./Delete">Delete</a>
        </td>
    </tr>

</table>
